*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

html{
    font-size: 20px;
    overflow-x: hidden; /*remover scrool horizontal*/
}

.container{
    display: flex;
    align-items: center;
    min-height: 64px;
    background-color: #0c0c0c;
    z-index: 1;
    position: relative;


}

.logo{
    min-height: 100%;
    margin-left: 80px;
}

#beta{
    background-color: #005234;
    color: #3fffb5;
    line-height: normal;
    white-space: nowrap;
}

.user-image{
    border-radius: 50%;
    position: absolute;
    right: 78px;
}


/*Acesse os jogos para dispositivos móveis no PC*/

.text{
    margin-left: 75px;
    position: absolute;
    top: 60px;
    z-index: 3;

}

.text h1{
    font-size: 80px;
    max-width: 800px;
    font-weight: 400;

}

.text p{
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 650px;
}

p #txt-green{
    color: #28feaf
}

.btn-download{
    padding: 0.8rem 0.5rem 1rem 0.7rem;
    font-size: 17px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    background-color: #37d397;
    color: #181818;
    

}

.btn-download img{
    position: relative;
    left: -9px;
    top: 2px;
}

/*SLIDES*/

.slides{
    position: absolute;
    right: -590px;
    top: -380px;
    text-overflow: clip;
    overflow: hidden;

    
}

.container-slides{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);

  
}

.slides img{
    object-fit: cover;
}
/*
 .game1{
    position: relative;
    position: absolute;
    right: -590px;
    top: -380px;
    text-overflow: clip;
    
    
}*/

.clash{
    scale: 2;
}



main{
    background-color: #181818;
    height: 130vh;
}

#politica{
    font-size: 12px;
   line-height: 20px;
   color: #bdc0c5;
    
}

.icones{
    display: flex;
    justify-content: center;
    margin: 0px 12px 0px 0px;
    list-style-type: none;
    height: 100%;
    position: absolute;
    top: 30px

}



.icones p{
   display: inline-block;
   
  
}

#explorar{
    background: linear-gradient(0deg, #181818 0, #282828 100%);
    display: block;
    height: 100vh;
    position: relative;
}

.trailer-jogo{
    background-color: #181818;

}

.continue-jogando{
    background-color: #181818;
}